<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iggie.ManagerDeviceApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ManagerDeviceApp</name>
    <description>
        Restaurant Manager Device App
    </description>
    <author email="ignatius.dmello@earth.com  " href="http://ignatius.from.earth">
       ID
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
