<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Manager</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="ManagerDeviceApp">
  <ion-nav-view></ion-nav-view>


    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/ionic/release/js/ionic.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!-- build:js scripts/scripts.js -->
    <script src="scripts/modules.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <!-- endbuild -->


  <script id="login.html" type="text/ng-template">
    <ion-view title="{{programName}} Manager App - Staff login">
      <ion-content>
        <form class="list list-inset" ng-submit="staffLogin()">
          <label class="item item-input">
            <span class="input-label">Staff Id</span>
            <input type="text" ng-model="staffInput.Id" placeholder="Type your Id" required autofocus>
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="staffInput.Pin" placeholder="Type your password" required>
          </label>

          <button class="button button-positive button-block">Login</button>
        </form>
      </ion-content>
    </ion-view>
  </script>


<script id="mainmenu.html" type="text/ng-template">
  <ion-view title="Welcome {{staffName}}">
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/login">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/table">
          Table layout
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/menu">
          Menu content
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/offer">
          Offer setup
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/staff">
          Staff
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/orders">
          Orders
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/pending">
          Pending orders
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
</script>

</body>
</html>
