<ion-view title="Orders">
  <ion-content class="has-header">
    <ion-list can-swipe="listCanSwipe">
      <ion-item class="item-icon-right" ng-repeat="order in orders">
        {{order.order.staffId}}
        {{order.order.tableArea}}
        {{order.order.tableNumber}}
        {{order.status}}
        {{order.created_on}}

        <ion-list>
          <ion-item class="item-icon-left" ng-repeat="item in order.order.data">
            {{item.itemName}}
            {{item.itemDescription}}
            {{item.priceCatCode}}
            {{item.quantity}}
          </ion-item>
        </ion-list>

        <ion-option-button class="button-positive"
                           ng-click="orderConfirmed(order)">
          Confirm
        </ion-option-button>
        <ion-option-button class="button-info"
                           ng-click="orderPaid(order)">
          Paid
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
